body {
    background-color: rgb(67, 67, 185);
    font-family: Helvetica;
  }
h1 {
    color: rgb(255, 0, 179);
    text-align: center;
  }  
h1:hover {
    color: hotpink;
    text-align: center;
  }  
a {
    text-decoration: none;
    color: black;
}
.assign {
    background-color: aquamarine;
    margin: 10px;
    padding: 10px;
    display: flex;
    border-radius: 20px;
}
.assign img {
    width: 200px;
    margin: 10px;
    border: 2px dotted rgb(255, 0, 179);
}
.assign img:hover {
    width: 200px;
    margin: 10px;
    border: 3px yellowgreen;
}
